:root {
  --fadeout-sec: 20s;
}

.MuiListItem-gutters {
  animation:
    fadeIn 2s ease 0s,
    fadeOut 2s ease calc(var(--fadeout-sec) + 2s) forwards;
}

@keyframes fadeLeftToRight {
  0% {
    /* 透明度：0⇒透明、1⇒不透明 */
    opacity: 0;
    /* 横の動き */
    transform: translateX(150px);
  }

  15% {
    opacity: 1;
    transform: translateX(0);
  }

  75% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }

}


