.MuiList-root > div > div > div { 
  animation-name: fadeBottomToTop !important;
  animation-duration: 20s !important;  /* 全体は20秒 */
  animation-fill-mode: forwards !important;
  animation-iteration-count: 1 !important;
  animation-timing-function: ease !important;
  animation-delay: 0s !important;
  animation-direction: normal !important;
}

@keyframes fadeBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  3% { /* フェードイン完了を5%のところに */
    opacity: 1;
    transform: translateY(0);
  }
  95% { /* ずっと表示を維持 */
    opacity: 1;
    transform: translateY(0);
  }
  100% { /* フェードアウトは最後の5% */
    opacity: 0;
    transform: translateY(0);
  }
}
